.footer__title {
    font-size: var(--size-sm);
    color: var(--clr-text);
    text-align: center;
    user-select: none;
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-weight: 100;
}

@media (min-width: 768px) {
    .footer__title {
        margin-right: 7.1rem;
    }
}

@media (min-width: 1024px) {
    .footer__title {
        margin-right: 10.3rem;
    }
}

@media (min-width: 1280px) {
    
}

@media (min-width: 1536px) {
    
}