.header {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__menu {
    display: none;
}

.header__sidebarlogo {
    display: none;
}

.header__bars {
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
    position: fixed;
    right: 12px;
}

/* @media (min-width: 475px) {
    
} */

@media (min-width: 640px) {
    .header__bars {
        right: 20px;
    }
}

@media (min-width: 768px) {
    .header {
        z-index: 1000;
    }

    .header__menu {
        position: fixed;
        bottom: 100px;
        right: -10px;
        list-style: none;
        display: flex;
        align-items: end;
        padding: 0;
        gap: 0.2em;
        flex-direction: column;
        margin-right: 2.5rem;
    }
    
    .header__link {
        text-decoration: none;
        color: var(--clr-charc);
        font-size: var(--size-sm);
        font-weight: 600;
        letter-spacing: -0.05em;
        transition: color 0.3s;
    }
    
    .header__link:hover {
        color: var(--clr-light);
    }

    .header__bars {
        display: none;
    }
}

@media (min-width: 1024px) {
    .header__link {
        font-size: var(--size-sm);
    }
}

@media (min-width: 1280px) {
    .header__menu {
        position: fixed;
        bottom: 160px;
        right: 30px;
        list-style: none;
        display: flex;
        align-items: end;
        padding: 0;
        gap: 0.3em;
        flex-direction: column;
        margin-right: 2.5rem;
    }
    
    .header__link {
        text-decoration: none;
        color: var(--clr-charc);
        font-size: var(--size-base);
        font-weight: 600;
        letter-spacing: -0.05em;
        transition: color 0.3s;
    }
    
    .header__link:hover {
        color: var(--clr-light);
    }

    .header__bars {
        display: none;
    }

    .header__sidebarlogo {
        position: fixed;
        bottom: 80px;
        right: 70px;
        display: flex;
        cursor: pointer;
        color: var(--clr-charc);
        font-size: var(--size-xl);
        gap: 0.2rem;
    }

    .header__mail {
        color: var(--clr-charc);
        text-decoration: none;
        transition: color 0.3s;
    }

    .header__mail:hover {
        color: var(--clr-light);
    }

    .header__git {
        color: var(--clr-charc);
        text-decoration: none;
        transition: color 0.3s;
    }

    .header__git:hover {
        color: var(--clr-light);
    }

    .header__linkin {
        color: var(--clr-charc);
        text-decoration: none;
        transition: color 0.3s;
    }

    .header__linkin:hover {
        color: var(--clr-light);
    }
}

/* @media (min-width: 1536px) {
    
} */